{% extends "admin/base.html" %}

{% block title %}{{ title }} | PAS {% endblock %}

{% block extrastyle %}
<style>
    #header {
        background-color:black;
            }
            .module h2, .module caption, .inline-group h2 {
             background-color:black;
             }
             .button, input[type=submit], input[type=button], .submit-row input, a.button {
             background:black;
             }

             input[type=text], input[type=password], input[type=email], input[type=url], input[type=number], input[type=tel], textarea, select, .vTextField {
             border: 1px solid black;
             }
             a:link, a:visited {
    color: black;
    }
    div.breadcrumbs {
    background: darkgray;
    }
    input[type=submit].default, .submit-row input.default {
    background: green;
}
a:link, a:visited {
    color: black;}
    .selector-chosen h2 {
    background: black;
    color: #fff;
}




</style>
{% endblock %}
{% block branding %}

<h1 id="site-name" ><a href="{% url 'admin:index' %}"><center>PAS Administration</center></a></h1>
{% endblock %}

{% block nav-global %}{% endblock %}