{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">


<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>PAS</title>


  <link href="{% static 'vendor1/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css"/>


  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet"/>
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'/>


  <link href="{% static 'vendor1/magnific-popup/magnific-popup.css' %}" rel="stylesheet"/>


    <link rel="stylesheet" type="text/css" href="{% static 'css/creative.css' %}"/>


</head>

<body id="page-top">

<table style="height: 25px">

						<thead>
						<tr class="table100-head"><th rowspan="4" ><img src="C:\Users\shameem\Desktop\logo.jpg" alt="Mountains" style="width: 100px;
  height: 100px;object-fit: cover;"></th>
                            <th colspan="2" style="text-align: center;font-weight: 900;height:35px;"><h1>&nbsp;&nbsp;&nbsp;&nbsp;MES COLLEGE OF ENGINEERING - KUTTIPPURAM</h1></th></tr>

                        <tr class="table100-head"><th colspan="2" style="text-align: center;font-weight: 900;">DEPARTMENT OF COMPUTER APPLICATIONS</th></tr>
						<tr ><th colspan="2" style="text-align: center;font-weight: bold;">FINAL SEMESTER MAIN PROJECT- RLMCA352</th></tr>
                        <tr ><th colspan="2" style="text-align: center;font-weight: bold;">{{ subject }}</th></tr></thead>
    <tbody style="border: 1px solid black;
  border-collapse: collapse;">
    <tr>                            <th style="font-weight: bold;border: 1px solid black;
  border-collapse: collapse;width:20%;">Register No</th>
                                <th style="font-weight: bold;border: 1px solid black;
  border-collapse: collapse;width:25%;">Name</th>
                                <th style="font-weight: bold;border: 1px solid black;
  border-collapse: collapse;width:45%;">Topic</th>
                                <th style="font-weight: bold;border: 1px solid black;
  border-collapse: collapse;width:10%;">Signature</th>
</tr>
     {% for i in student %}
                        <tr>
                        <td style="text-align: center;border: 1px solid black;height:35px;
  border-collapse: collapse;">{{ i.regno}}</td>
                        <td style="text-align: center;border: 1px solid black;
  border-collapse: collapse;height:35px;">{{ i.name}}</td>
                        <td style="text-align: center;border: 1px solid black;
  border-collapse: collapse;height:35px;">{{ i.topic }}</td>
                            <td style="text-align: center;border: 1px solid black;
  border-collapse: collapse;height:35px;"> </td>
                            </tr>
                        {% endfor %}

    </tbody>
</table>
<br>
<br>
<div>
    <table>
        <tr>
            <th style="text-align: left;">
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Staff Coordinator
            </th>
            <th style="text-align: right;">
                HOD&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </th>
        </tr>
    </table>
</div>
<br>
<br>

  <footer class="bg-light py-5">
    <div class="container">
      <div class="small text-center text-muted" style="text-align: center;">Copyright &copy; 2020 - PAS</div>
    </div>
  </footer>


  <script src="{% static 'vendor1/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor1/bootstrap/js/bootstrap.bundle.min.js' %}"></script>


  <script src="{% static 'vendor1/jquery-easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'vendor1/magnific-popup/jquery.magnific-popup.min.js' %}"></script>


  <script src="{% static 'js/creative.min.js' %}"></script>


</body>

</html>
