{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">


<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>PAS</title>


  <link href="{% static 'vendor1/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css"/>


  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet"/>
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'/>


  <link href="{% static 'vendor1/magnific-popup/magnific-popup.css' %}" rel="stylesheet"/>


    <link rel="stylesheet" type="text/css" href="{% static 'css/creative.css' %}"/>


</head>

<body id="page-top">

<table style="height: 25px">

						<thead>
						<tr class="table100-head"><th rowspan="4" ><img src="C:\Users\shameem\Desktop\logo.jpg" alt="Mountains" style="width: 100px;
  height: 100px;object-fit: cover;"></th>
                            <th colspan="3" style="text-align: left;font-weight: 900;height:35px;"><h1>&nbsp;&nbsp;&nbsp;&nbsp;MES COLLEGE OF ENGINEERING - KUTTIPPURAM</h1></th></tr>

                        <tr class="table100-head"><th colspan="3" style="text-align: left;font-weight: 900;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;DEPARTMENT OF COMPUTER APPLICATIONS</th></tr>
						<tr ><th colspan="3" style="text-align: left;font-weight: bold;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;FINAL SEMESTER MAIN PROJECT- RLMCA352</th></tr>
                        <tr ><th colspan="3" style="text-align: left;font-weight: boldest;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;PRO FORMA FOR THE APPROVALOF THE FINAL SEMESTER PROJECT</th></tr></thead>

</table>


   <table style="width:100%;height: 100px;"><thead>
   <tr>
   <th style="width:45%;"><table style="border: 1px solid black;
  border-collapse: collapse;height: 60px"><th style="text-align: left;padding-left: 10px;">Project Proposal Number &nbsp;&nbsp;: &nbsp;&nbsp;  {{ no }}</th></table></th><th rowspan="2"  style="width:10%;"><table style="height:160px"><th></th></table></th>
     <th  rowspan="2"  style="width:45%;"><table style="border: 1px solid black;
  border-collapse: collapse;height: 160px"><th style="text-align: left;padding-left: 10px;">Academic Year &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{ acadamic }}<br><br>Year of Admission &nbsp;:  {{ student.batch }}<br><br>Admission Number : {{ student.admission_no }}<br><br>Roll Number &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: {{ student.rollno }}<br><br>Register Number &nbsp;&nbsp;&nbsp;&nbsp;: {{ student.regno }}</th>
      </table></th>
   </tr>
   <tr>
     <th style="width:45%;"><table style="border: 1px solid black;
  border-collapse: collapse;height: 60px"><th style="text-align: left;padding-left: 10px;">Email&nbsp; : {{ student.email }}<br><br>Mobile : {{ student.mob }}</th></table></th>
   </tr>

   </thead></table>
<br><br>
<div >
<table style="height:30px">
        <tr>
            <th style="text-align: left;padding-left: 10px;width:30%;">
                1. Name of the Student</th>
             <th style="text-align: left;padding-left: 10px;width:5%;">
                :</th>
            <th style="text-align: left;padding-left: 10px;width:65%;"><div style="font-size:12px;text-transform:uppercase;">
                {{ student.name }}</div></th>

        </tr>
    <tr>
            <th style="text-align: left;padding-left: 10px;width:30%;">
                2. Title of the Project</th>
             <th style="text-align: left;padding-left: 10px;width:5%;">
                :</th>
                <th style="text-align: left;padding-left: 10px;width:65%;"><div style="font-size:12px;text-transform:uppercase;">
                    {{ student.topic }}</div></th>
        </tr>
    </table>
</div>
<br><br>
<table>
    <tr>
        <td style="text-align: left;">Date : {{ date }}</td>
        <td style="text-align: right;">Signature of the Student</td>
    </tr>
</table>
<hr style="display: block;margin-top: 0.5em;margin-bottom: 0.5em;margin-left: auto;margin-right: auto;border-style: inset;border-width: 1px;">
<table style="height:37px">
    <tr>
        <th><div style="font-size:14px;text-decoration: underline;">Comments of the Project Guide</div></th>
        <th></th>
        <th></th>
    </tr>
    <tr>
        <th style="text-align: left;padding-left: 10px;">1. Name of the Guide Assigned(Internal-Department)</th>
        <th style="text-align: left;padding-left: 10px;">:</th>
        <th style="text-align: left;padding-left: 10px;"></th>
    </tr>
    <tr>
        <th style="text-align: left;padding-left: 10px;">2. Thrust Area of the Project</th>
        <th style="text-align: left;padding-left: 10px;">:</th>
        <th style="text-align: left;padding-left: 10px;"></th>
    </tr>
</table>
<table style="height:45px">
    <tr>
        <td style="width:12%;text-align: left;">Initial Submission</td>
        <td style="width:1%;">:</td>
        <td style="width:29%;"></td>
        <td style="width:29%;"></td>
        <td style="width:29%;"></td>
    </tr>
    <tr>
        <td style="width:12%;text-align: left;">Approval Status</td>
        <td style="width:1%;">:</td>
        <td style="width:29%;"><div style="font-weight: bold;">Approved</div></td>
        <td style="width:29%;text-align: center;">Dated Signature of Guide</td>
        <td style="width:29%;text-align: right;padding-right: 18px;">HOD</td>
    </tr>
    <tr>
        <td style="width:12%;text-align: left;">First Review</td>
        <td style="width:1%;">:</td>
        <td style="width:29%;"></td>
        <td style="width:29%;"></td>
        <td style="width:29%;"></td>
    </tr>
    <tr>
        <td style="width:12%;text-align: left;">Second Review</td>
        <td style="width:1%;">:</td>
        <td style="width:29%;"></td>
        <td style="width:29%;"></td>
        <td style="width:29%;"></td>
    </tr>
</table >
<hr style="display: block;margin-top: 0.5em;margin-bottom: 0.5em;margin-left: auto;margin-right: auto;border-style: inset;border-width: 1px;">
<table style="height:45px">
    <tr>
        <th><div style="font-size:14px;text-decoration: underline;">Comments of the Project Coordinator</div></th>
        <th></th>
    </tr>
    <tr>
        <td style="text-align: left;">Initial Submission&nbsp;&nbsp;&nbsp;:</td>
        <td></td>
    </tr>
    <tr>
        <td style="text-align: left;">First Review&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</td>
        <td></td>
    </tr>
    <tr>
        <td style="text-align: left;">Second Review&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td style="text-align: right;">Dated Signature of the Project Coordinator</td>
    </tr>
</table>
<hr style="display: block;margin-top: 0.5em;margin-bottom: 0.5em;margin-left: auto;margin-right: auto;border-style: inset;border-width: 1px;">



  <footer class="bg-light py-5">
    <div class="container">
      <div class="small text-center text-muted" style="text-align: center;">Copyright &copy; 2020 - PAS</div>
    </div>
  </footer>


  <script src="{% static 'vendor1/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor1/bootstrap/js/bootstrap.bundle.min.js' %}"></script>


  <script src="{% static 'vendor1/jquery-easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'vendor1/magnific-popup/jquery.magnific-popup.min.js' %}"></script>


  <script src="{% static 'js/creative.min.js' %}"></script>


</body>

</html>
