{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">


<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>PAS</title>

  <!-- Font Awesome Icons -->
  <link href="{% static 'vendor1/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css"/>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet"/>
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'/>

  <!-- Plugin CSS -->
  <link href="{% static 'vendor1/magnific-popup/magnific-popup.css' %}" rel="stylesheet"/>

  <!-- Theme CSS - Includes Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/creative.css' %}"/>


</head>

<body id="page-top">
{% csrf_token %}
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">

      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto my-2 my-lg-0">
            <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'approval_requests' %}">Requests</a>
          </li>
            <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'approved_list' %}">Approved List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'rejected_list' %}">Rejected List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'waiting_list' %}">Pending</a>
          </li>
			<li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'stud_details' %}">Student details</a>
          </li>
          <br><br>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'userlogout' %}">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Masthead -->


 <!-- Abstract Format -->
<!-- Abstract Uploading Section -->
  <!-- document -->
  <!-- Contact Section -->
<section class="page-section" id="contact">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="mt-0" style="color:red;">Rejected List - {{ batch }} Admission</h2>
            <br><br>

               <table style="table-layout:fixed;width:100%;height:10%;border: 1px solid white;text-align:center;">
              <thead style="color:orange;border: 1px solid white;" >
              <th style="border: 1px solid white;">Register No</th>
              <th style="border: 1px solid white;">Name</th>
              <th style="border: 1px solid white;">Topic</th>
              </thead>
                   <tbody>
                   {% for s in student %}

                   <tr style="border: 1px solid white;">
                       <td style="height:80px;border: 1px solid white;">{{ s.regno }}</td>
                       <td style="height:80px;border: 1px solid white;">{{ s.name }}</td>
                       <td style="height:80px;border: 1px solid white;">{{ s.topic}}</td>
                   </tr>
                   {% endfor %}

                   </tbody>
          </table>
            <br><br>
<div class="col-md-12">
                                  <fieldset>
                                    <a  id="form-submit" href="rejected_list_show/download" class="btn" style="background-color: black;
    color: white;border-color:white;padding: 15px 32px;text-align: center;text-decoration: none;
  display: inline-block;
  font-size: 16px;">Download List</a>
                                  </fieldset>
                                </div>


        </div>

      </div>

    </div>
  </section>

  <!-- Footer -->
  <footer class="bg-light py-5">
    <div class="container">
      <div class="small text-center text-muted">Copyright &copy; 2020 - PAS</div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor1/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor1/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'vendor1/jquery-easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'vendor1/magnific-popup/jquery.magnific-popup.min.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'js/creative.min.js' %}"></script>


</body>

</html>
