{% load static %}
<html lang="en">
<head>
	<title>PAS</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="{% static 'photos/icons/favicon.ico' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/font-awesome-4.7.0/css/font-awesome.min.css' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'fonts/Linearicons-Free-v1.0.0/icon-font.min.css' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/animate/animate.css' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/css-hamburgers/hamburgers.min.css' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'vendor/select2/select2.min.css' %}"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}"/>
	<link rel="stylesheet" type="text/css" href="{% static 'css/login1.css' %}"/>
<!--===============================================================================================-->
</head>
<body>

	<div class="limiter">
		<div class="container-login100" >
			<div class="wrap-login100 p-t-190 p-b-30">
				<form class="login100-form validate-form" action="registration" method="post">
					{% csrf_token %}
					<div class="login100-form-avatar">
						<img src="{% static 'photos\logo.svg' %}" >
					</div>
                    <span class="login100-form-title p-t-20 p-b-45">
                    Registration
					</span>

                   <div class="wrap-input100 validate-input m-b-10" data-validate = "Mandatory Field">
						<input class="input100" type="text" name="r_firstname" placeholder="First Name">
						<span class="focus-input100"></span>

					</div>
					<div class="wrap-input100 validate-input m-b-10" data-validate = "Mandatory Field">
						<input class="input100" type="text" name="r_lastname" placeholder="Last Name">
						<span class="focus-input100"></span>

					</div>
					<div class="wrap-input100 validate-input m-b-10" data-validate = "Mandatory Field">
						<input class="input100" type="text" name="r_admno" placeholder="Admission No">
						<span class="focus-input100"></span>

					</div>
                    <div class="wrap-input100 validate-input m-b-10" data-validate = "Mandatory Field">
						<input class="input100" type="text" name="r_regno" placeholder="RegNo">
						<span class="focus-input100"></span>

					</div>
					<div class="wrap-input100 validate-input m-b-10" data-validate = "Mandatory Field">
						<input class="input100" type="text" name="r_rollno" placeholder="RollNo">
						<span class="focus-input100"></span>

					</div>

                    <div class="wrap-input100 validate-input m-b-10" data-validate = "Mandatory Field">
						<input class="input100" type="email" name="r_email" placeholder="Email address" >
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-mail"></i>
						</span>
					</div>
					<div class="wrap-input100 validate-input m-b-10" data-validate = "Mandatory Field">
						<input class="input100" type="text" name="r_username" placeholder="Username">
						<span class="focus-input100"></span>

					</div>

                    <div class="wrap-input100 validate-input m-b-10" data-validate = "Mandatory Field">
						<select name="r_batch" placeholder="Batch" class="input100">
							<option selected disabled>Choose Batch</option>
  							<option value="2017" class="input100">2017</option>
  							<option value="2018" class="input100">2018</option>
  							<option value="2019" class="input100">2019</option>
  							<option value="2020" class="input100">2020</option>
						</select>

						<span class="focus-input100"></span>

					</div>

					<div class="wrap-input100 validate-input m-b-10" data-validate = "Mandatory Field">

      <input class="input100" type="tel" name="r_telphone" placeholder="Mob(000 000 000 0000)" pattern="[0-9]{3} [0-9]{3} [0-9]{4}" maxlength="12"  title="Ten digits code" required/>

						<span class="focus-input100"></span>

					</div>

					<div class="wrap-input100 validate-input m-b-10" data-validate = "Mandatory Field">
						<input class="input100" type="password" name="r_password" placeholder="Password">
						<span class="focus-input100"></span>

					</div>
					<div class="wrap-input100 validate-input m-b-10" data-validate = "Mandatory Field">
						<input class="input100" type="password" name="r_confirmpassword" placeholder="Confirm Password">
						<span class="focus-input100"></span>

					</div>

					<div class="container-login100-form-btn p-t-10">
						<button class="login100-form-btn">
							Sign up
						</button>
					</div>

					<div class="text-center w-full p-t-25 p-b-230">
                        <p>Already have an account?
						<a href="{% url 'stu_login' %}" class="txt1">
						Sign in
						</a>
                            </p>
						{% for message in messages %}
							{% if message.tags == "success" %}
						 		<div class="alert alert-success" role="alert">
									{{message}}
								</div>
							{% endif %}
							{% if message.tags == "warning" %}
								<div class="alert alert-warning">
  									<strong>Warning!</strong>{{message}}
								</div>
							{% endif %}
							{% if message.tags == "error" %}
								<div class="alert alert-error">
  									<strong>Error!</strong>{{message}}
								</div>
							{% endif %}
						{% endfor %}
					</div>

				</form>
			</div>
		</div>
	</div>




<!--===============================================================================================-->
	<script src="{% static 'vendor/jquery/jquery-3.2.1.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/bootstrap/js/popper.js' %}"></script>
	<script src="{% static 'vendor/bootstrap/js/bootstrap.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'vendor/select2/select2.min.js' %}"></script>
<!--===============================================================================================-->
	<script src="{% static 'js/main.js' %}"></script>

</body>
</html>