

{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">


<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>PAS</title>

  <!-- Font Awesome Icons -->
  <link href="{% static 'vendor1/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css"/>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet"/>
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'/>

  <!-- Plugin CSS -->
  <link href="{% static 'vendor1/magnific-popup/magnific-popup.css' %}" rel="stylesheet"/>

  <!-- Theme CSS - Includes Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/creative.css' %}"/>


</head>

<body id="page-top">
{% csrf_token %}
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">

      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto my-2 my-lg-0">
            <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'approval_requests' %}">Requests</a>
          </li>
            <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'approved_list' %}">Approved List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'rejected_list' %}">Rejected List</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'waiting_list' %}">Pending</a>
          </li>
			<li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'stud_details' %}">Student details</a>
          </li>
          <br><br>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'userlogout' %}">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Masthead -->


 <!-- Abstract Format -->
<!-- Abstract Uploading Section -->
  <!-- document -->
  <!-- Contact Section -->
<section class="page-section" id="contact">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="mt-0" style="color:red;">{{ student.name }}</h2>
          <form id="contact1" action="#" method="post">
                            {% csrf_token %}
               <table style="table-layout:fixed;width:100%;height:10%;">

                   <tbody>
                   <tr>
                       <td style="height:80px;color:orange;">RegNo</td>
                       <td style="height:80px;">{{ student.regno }}</td>
                   </tr>
                   <tr>
                       <td style="height:80px;color:orange;">RollNo</td>
                       <td style="height:80px;">{{ student.rollno }}</td>
                   </tr>
                   <tr>
                       <td style="height:80px;color:orange;">Batch</td>
                       <td style="height:80px;">{{ student.batch }}</td>
                   </tr>
                   {% if student.status != "Nothing Uploaded" %}
                   <tr>
                       <td style="height:80px;color:orange;">Topic</td>
                       <td style="height:80px;">{{ student.topic }}</td>
                   </tr>
                   {% endif %}
                   <tr>
                       <td style="height:80px;color:orange;">Status</td>
                       <td style="height:80px;">{{ student.status }}</td>
                   </tr>
                   {% if student.status == "Approved" %}
                   <tr>
                       <td style="height:80px;color:orange;">Notes</td>
                       <td style="height:80px;">{{ student.notes }}</td>
                   </tr>
                   {% endif %}
                   {% if student.status == "Rejected" %}
                   <tr>
                       <td style="height:80px;color:orange;">Reason</td>
                       <td style="height:80px;">{{ student.notes }}</td>
                   </tr>
                   {% endif %}
                   {% if student.status == "Waiting" %}
                   <tr>
                       <td style="height:80px;color:orange;">Reason</td>
                       <td style="height:80px;">{{ student.notes }}</td>
                   </tr>
                   {% endif %}

                   </tbody>
          </table>
              <br>
              {% if student.status != "Nothing Uploaded" %}
              <div style="text-align:left;">
                  <label style="color:orange;">Abstract</label></div>
              <div style="background-color:white;color:white;width:700">
              <object  width="700" height="340" type="text/plain" data="/media/text_files/output1.txt" border="0"
   style="overflow: hidden;">
</object>
                  </div>
              <br>
              {% if student.base_paper %}
              <div style="text-align:left;">
                  <label style="color:orange;">Base Paper</label></div>
               <div style="background-color:white;color:white;width:700">
<embed src="/media/{{ student.base_paper }}#toolbar=0&navpanes=0&scrollbar=0" type="application/pdf" width="700" height="340" />
</div>
              {% endif %}

            {% endif %}


          </form>
        </div>

      </div>

    </div>
  </section>

  <!-- Footer -->
  <footer class="bg-light py-5">
    <div class="container">
      <div class="small text-center text-muted">Copyright &copy; 2020 - PAS</div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor1/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor1/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'vendor1/jquery-easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'vendor1/magnific-popup/jquery.magnific-popup.min.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'js/creative.min.js' %}"></script>


</body>

</html>
