{% load static %}
<html lang="en" xmlns="http://www.w3.org/1999/html">


<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>PAS</title>

  <!-- Font Awesome Icons -->
  <link href="{% static 'vendor1/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css"/>

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700" rel="stylesheet"/>
  <link href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic' rel='stylesheet' type='text/css'/>

  <!-- Plugin CSS -->
  <link href="{% static 'vendor1/magnific-popup/magnific-popup.css' %}" rel="stylesheet"/>

  <!-- Theme CSS - Includes Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/creative.css' %}"/>


</head>

<body id="page-top">
{% csrf_token %}
  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-light fixed-top py-3" id="mainNav">
    <div class="container">

      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto my-2 my-lg-0">
            <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#top">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{ course.document.url }}" download="RLMCA352">Course Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#format">Abstract Format</a>
          </li>
            <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about">Upload Abstract</a>
          </li>
          {% if student.status == 'Approved'%}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#docs">Download Document</a>
          </li>
          {% endif %}
          {% if student.status == 'Approved'%}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{ student.abstract.url }}">My Abstract</a>
          </li>
          {% endif %}
          {% if student.status == 'Approved'%}
          {% if student.base_paper %}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{{ student.base_paper.url }}" download="base_paper">Base Paper</a>
          </li>
          {% endif %}
          {% endif %}
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#contact">Contact</a>
          </li>
          <br><br>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="{% url 'userlogout' %}">Logout</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Masthead -->
  <header class="masthead" id="top">
    <div class="container h-100">
      <div class="row h-100 align-items-center justify-content-center text-center">
        <div class="col-lg-10 align-self-end">
          <h1 class="text-uppercase text-white font-weight-bold">In the end, it all comes down to 0 and 1 !!!</h1>
          <hr class="divider my-4">
        </div>
        <div class="col-lg-8 align-self-baseline">
          <p class="text-white-75 font-weight-light mb-5" style="color: black !important;">Vineet Goel</p>

        </div>
      </div>
    </div>
  </header>

 <!-- Abstract Format -->
  <section class="page-section bg-dark text-white" id="format">
    <div class="container text-center">
      <h2 class="mb-4">You can download the Abstract format!</h2>
      <a class="btn btn-light btn-xl" href="{{ format.document.url }}">Download Now!</a>
    </div>
  </section>
  <!-- Abstract Uploading Section -->

<section class="page-section bg-primary" id="about">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <form action="upload" method="post" enctype="multipart/form-data">
            {% csrf_token %}
          <h2 class="text-white mt-0" style="color: white !important;">Upload Your Abstarct Here!</h2>
          <hr class="divider light my-4">
            <p class="text-white-75 font-weight-light mb-5" style="color: #6c757d !important;">You can directly upload your project abstract here. You can also upload base paper if any.</p>
            <input name="topic" type="text" class="form-control" id="topic" placeholder="Your topic..." required="" >
            <br>
          <input type="file" name="document" accept=".docx" class="form-control" id="document" required><br>
            I have base paper   <input type="checkbox" name="check"   id="check" value="basepaper" ><br>

<br>

      <input type="file" name="basepaper" accept=".pdf" class="form-control" id="basepaper" style="display:none;" placeholder="Your abstract..." >

      <br>

          <button  class="btn" style="background-color: black;
    color: white;border-color:white;padding: 15px 32px;text-align: center;text-decoration: none;
  display: inline-block;
  font-size: 16px;" >Upload</button>
            </form>
        </div>
      </div>
    </div>
  </section>

  <!-- document -->
  <section class="page-section bg-dark text-white" id="docs">
    {% if student.status == 'Approved'%}
    <div class="container text-center">
      <h2 class="mb-4">You can download the Approved document from here!</h2>
      <a class="btn btn-light btn-xl" href="Pdf_document" download="{{ student.name }}">Download Now!</a>
    </div>
    {% endif %}
  </section>




  <!-- Contact Section -->
<section class="page-section" id="contact">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 text-center">
          <h2 class="mt-0">Contact Staff !</h2>

          <hr class="divider my-4" style="border-color: white;">
          <p class="text-muted mb-5">If any Problem! Doubts! Send a message</p>
          <form id="contact1" action="send_message" method="post">
                            {% csrf_token %}
          <div class="col-md-12">
                                  <fieldset>
                                    <input name="subject" type="text" class="form-control" id="subject" placeholder="Subject..." required="">
                                  </fieldset>
                                </div>
          <br>
          <div class="col-md-12">
                                  <fieldset>
                                    <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..." required=""></textarea>
                                  </fieldset>
                                </div>
          <br>
          <div class="col-md-12">
                                  <fieldset>
                                    <button  id="form-submit" class="btn" style="background-color: black;
    color: white;border-color:white;padding: 15px 32px;text-align: center;text-decoration: none;
  display: inline-block;
  font-size: 16px;">Send Message Now</button>
                                  </fieldset>
                                </div>
          </form>
        </div>

      </div>

    </div>
  </section>

  <!-- Footer -->
  <footer class="bg-light py-5">
    <div class="container">
      <div class="small text-center text-muted">Copyright &copy; 2020 - PAS</div>
    </div>
  </footer>

  <!-- Bootstrap core JavaScript -->
  <script src="{% static 'vendor1/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'vendor1/bootstrap/js/bootstrap.bundle.min.js' %}"></script>

  <!-- Plugin JavaScript -->
  <script src="{% static 'vendor1/jquery-easing/jquery.easing.min.js' %}"></script>
  <script src="{% static 'vendor1/magnific-popup/jquery.magnific-popup.min.js' %}"></script>

  <!-- Custom scripts for this template -->
  <script src="{% static 'js/creative.min.js' %}"></script>
<script>
document.getElementById('check').onchange = function(){
   if(this.checked) {document.getElementById('basepaper').style.display='block';
   }
   else {document.getElementById('basepaper').style.display='none';
   }
}
</script>

</body>

</html>
